[submodule "submodules/Colorizer"]
	path = submodules/Colorizer
	url = https://github.com/chrisbra/Colorizer
[submodule "submodules/indentLine"]
	path = submodules/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "submodules/vim-airline"]
	path = submodules/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "submodules/fzf.vim"]
	path = submodules/fzf.vim
	url = https://github.com/junegunn/fzf.vim
