[Desktop Entry]
Name=Bitwarden (Jump)
Exec=jumpapp -p /opt/Bitwarden/bitwarden %U
Terminal=false
Type=Application
Icon=bitwarden
StartupWMClass=Bitwarden
GenericName=Password Manager
Comment=A secure and free password manager for all of your devices.
MimeType=x-scheme-handler/bitwarden;
Categories=Utility;
